.user-page{
    margin-top: 5rem;
    margin-left: 3rem;
}
.btn {
    border: 2px solid rgb(88, 5, 5);
    background-color: white;
    color: rgb(248, 3, 167);
    font-size: 14px;
    cursor: pointer;
  }
  
   
  
  .btn-outline-success, .btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    background-color: #FFF!important;
    border: 2px solid rgb(88, 5, 5);

}
.profile-card{
 margin-top:4rem ;
 margin-bottom:3rem;
 height: 20rem;
}

.card-collection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  margin-bottom: 2%;
  box-shadow: rgba(39, 2, 250, 0.25) 0px 54px 55px, rgba(1, 139, 252, 0.12) 0px -12px 30px, rgba(2, 131, 30, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}