/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');



body{
    font-family: 'STIX Two Math', serif;
    background-image: linear-gradient(to top right, #011527,#7c0842);
    background-repeat: no-repeat;
    
}